---
interface Props {
  a: Array<string>;
  b: Array<string>;
  c: Array<string>;
  d: Array<string>;
}

const { a, b, c, d } = Astro.props;
---

<header class="absolute inset-x-0 top-0 z-50">
  <nav
    class="flex items-center justify-between p-6 lg:px-8 max-w-6xl m-auto"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="/gpsierra" class="flex items-center -m-1.5 p-1.5">
        <!-- <img
        class="h-8 w-auto"
        src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
        alt=""
        /> -->
        <span class="text-xl font-bold leading-6 text-gray-900 ml-2"
          ><i class="las la-home"></i></span
        >
        <span class="text-sm font-semibold leading-6 text-gray-900"
          >Doctor Sierra</span
        >
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        id="open-menu-button"
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a
        href={a[1]}
        class="flex items-center text-sm font-semibold leading-6 text-gray-900"
        ><i class={a[2]}></i>{a[0]}
      </a>
      <a
        href={b[1]}
        class="flex items-center text-sm font-semibold leading-6 text-gray-900"
        ><i class={b[2]}></i>{b[0]}</a
      >
      <a
        href={c[1]}
        class="flex items-center text-sm font-semibold leading-6 text-gray-900"
        ><i class={c[2]}></i>{c[0]}</a
      >
      <a
        href={d[1]}
        class="flex items-center text-sm font-semibold leading-6 text-gray-900"
        ><i class={d[2]}></i>{d[0]}</a
      >
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div id="mobile-menu" class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
    <div
      id="jeje"
      class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a href="/gpsierra/
        
        " class="-m-1.5 p-1.5">
          <span class="text-xl font-bold leading-6 text-gray-900 ml-2"
            ><i class="las la-home"></i></span
          >
          <span class="text-sm font-semibold leading-6 text-gray-900">Doctor Sierra</span>
        </a>
        <button
          id="close-menu-button"
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6 flex flex-col">
            <button
              onclick="closeMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
            >
              <a href={a[1]} class="block w-full"><i class={a[2]}></i>{a[0]}</a>
            </button>

            <button
              onclick="closeMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
            >
              <a href={b[1]} class="block w-full"><i class={b[2]}></i>{b[0]}</a>
            </button>

            <button
              onclick="closeMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
            >
              <a href={c[1]} class="block w-full"><i class={c[2]}></i>{c[0]}</a>
            </button>

            <button
              onclick="closeMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
            >
              <a href={d[1]} class="block w-full"><i class={d[2]}></i>{d[0]}</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script is:inline>
  var openMenuButton;
  var closeMenuButton;
  var mobileMenu;

  function closeMenu() {
    mobileMenu.classList.add("hidden");
  }

  document.addEventListener("DOMContentLoaded", function () {
    openMenuButton = document.getElementById("open-menu-button");
    closeMenuButton = document.getElementById("close-menu-button");
    mobileMenu = document.getElementById("mobile-menu");

    if (openMenuButton && closeMenuButton && mobileMenu) {
      mobileMenu.classList.add("hidden");

      openMenuButton.addEventListener("click", function () {
        mobileMenu.classList.remove("hidden");
      });

      closeMenuButton.addEventListener("click", function () {
        closeMenu();
      });
    } else {
      console.error("Some elements were not found");
    }
  });
</script>
<style>
  * {
    font-size: 1.2rem;
  }
  i {
    font-size: 1.5rem !important;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
  }
  button {
    width: 100%;
    text-align: left;
  }
  #close-menu-button,
  #open-menu-button {
    text-align: right !important;
    width: max-content !important;
  }
</style>
